body {
  background-color: #383838;
  color: white;
}

h1,
h2,
h3,
h4,
p,
li


{
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 20px;
  margin-top: 30px;
  background-color: #391d73;
}

img {
  border-radius: 5%;
  }
  
/* subtitles */
.background-subtitle {
  flex: auto;
  min-height: fit-content;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 60px;
  line-height: 1;
  background-color: rgb(239 68 68);
  display: inline-block;
  color: rgb(249 250 251);
  padding: 6px;
  z-index: 10;
  font-weight: 700;
  color: white;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
