@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* text-blue-500 hover:underline */
a {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

a:hover {
  text-decoration: underline;
}

[id]::before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

.content {
  margin: auto;
  width: 60%;
  border: 5px solid white;
  min-width: 320px;
  max-width: 1000px;
  padding: 15px;
  margin-bottom: 20px;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 30;
  color: black;
  background-color: white;
}
