.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.markdown-header {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-left: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
  .markdown-header {
    padding-left: 15px;
  }
}

html {
  background-color: #0d1117;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

iframe {
  aspect-ratio: 16 / 9;
  width: 100%; /* change this to a fixed width, or create a container with a width. */
  height: 100%;
  margin-bottom: 16px;
}
