@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

h1 {
  font-weight: 700;
}

h2 {
  font-family: Minecraft Seven v2;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: Minecraft Ten v2;
  src: url(/fonts/Minecraft-Ten.otf);
}
@font-face {
  font-family: Minecraft Seven v2;
  src: url(/fonts/Minecraft-Seven.otf);
}
@font-face {
  font-family: Minecraft Five v2;
  src: url(/fonts/Minecraft-Five.otf);
}
@font-face {
  font-family: Minecraft Five v2;
  font-weight: 700;
  src: url(/fonts/Minecraft-Five-Bold.otf);
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .text-content {
    margin-left: 10px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .text-content {
    margin-left: 20px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .text-content {
    margin-left: 40px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .text-content {
    margin-left: 80px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .text-content {
    margin-left: 160px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .text-content {
    margin-left: 320px;
  }
}
.youtube-video-playback {
  align-content: flex-start;
  aspect-ratio: 4/3;
  background-color: #e9f3fd;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  height: unset;
  justify-content: space-around;
  padding: 1rem;
  position: relative;
  margin-top: 1rem;
  box-shadow: 0px -2px 1px 0px rgba(250, 253, 255, 1),
    4px 0px 2px -2px rgba(170, 197, 214, 1),
    0px 4px 1px -1px rgba(189, 213, 223, 1);
}
@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .youtube-video-playback {
    width: 288px;
    height: 162px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .youtube-video-playback {
    width: 384px;
    height: 216px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .youtube-video-playback {
    width: 480px;
    height: 270px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .youtube-video-playback {
    width: 560px;
    height: 315px;
  }
}

svg {
  fill: white;
}

#skin-viewer * {
  background-image: url("/images/skin.png");
}
#skin-viewer .cape {
  background-image: url("/images/minecon_cape.png");
}
blockquote {
  border-left: 5px solid #ccc;
  padding: 10px;
}
